
<div class='container'>
        <form>
            <input type="submit" name="submit_button" id="button" value = "play/pause">
            <input type="submit" name="submit_button" id="button" value = "next">
            <input type="submit" name="submit_button" id="button" value = "back">
            <input type="submit" name="submit_button" id="button" value = "volume up">
            <input type="submit" name="submit_button" id="button" value = "volume down">
            <input type="submit" name="submit_button" id="button" value = "mute">
        </form>

</div>
